<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KumuComputer</title>
    <link rel="stylesheet" href="../static/common.css">
	<link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <h1><a style="color:#555555">Kumu</a><a class="gradientText">Computer</a></h1> 
        <nav>
            <a href="#about">About</a>
            <a href="#features">Features</a>
            <a href="/under-construction"><b>Log in</b></a>
        </nav>
    </header>

    <div class="xray-wrapper" id="xray-wrapper">
        <div class="hero">
            <h2>Hawaiian Research. <br>Accelerated.</h2>
            <h3>Multilingual. Multimodal. Multitasking.</h3>
            <a href="/app" class="button">Try it now</a>
        </div>
        <img src="../static/images/cover-xray.png" class="xray-image" id="xray-image">
    </div>

    <section id="about">
        <h3>About</h3>
        <p>KumuComputer is a research tool that uses AI to help you explore Hawaiian-language materials more easily. It supports text, images, documents, and audio, making it easier to find and understand Hawaiian history and knowledge.</p>
    </section>

    <section id="whyhawaiian">
        <h3>Why Hawaiian Research?</h3>
        <p>Hawaiian-language sources hold generations of insight, like history, politics, and general worldview. Conducting research with Hawaiian materials helps to preserve culture and deepen our understanding of the world.</p>
    </section>

    <section id="features">
        <h3>Features</h3>
        <ul>
            <li>Multilingual support (English or Hawaiian)</li>
            <li>Multimodal support (text, images, audio, and documents)</li>
            <li>Advanced AI-powered search and summarization</li>
            <li>Smart search algorthms to find relevant materials</li>
            <li>Emphasis on data accuracy and cultural context</li>
            <li>PDF export [Under construction]</li>
            <li>Full citation support (APA, Chicago, MLA, and BibTeX) [Under construction]</li>
    </section>

    <footer>
        &#169; 2025 Ryan Lagon. All rights reserved.
    </footer>
</body>
<script>
// Update mouse position to make effect work.   
document.addEventListener("mousemove", (e) => {
    const xray = document.getElementById("xray-image");
    const rectangle = document.getElementById("xray-wrapper").getBoundingClientRect();

    // Calcualate the relative position of the cursor
    const x = ((e.clientX - rectangle.left) / rectangle.width) * 100;
    const y = ((e.clientY - rectangle.top) / rectangle.height) * 100;

    // Set the position of the xray
    xray.style.setProperty("--x", `${x}%`);
    xray.style.setProperty("--y", `${y}%`);
});
</script>
</html>
