<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KumuComputer</title>
    <link rel="stylesheet" href="../static/common.css">
	<link rel="stylesheet" href="../static/index.css">
</head>
<body>
    <header>
        <h1><a style="color:#555555">Kumu</a><a class="gradientText">Computer</a></h1> 
        <nav>
            <a href="/app">About</a>
            <a href="#features">Features</a>
            <a href="#contact"><b>Log in</b></a>
        </nav>
    </header>

    <div class="xray-wrapper" id="xray-wrapper">
        <div class="hero">
            <h2>Hawaiian Research. <br>Accelerated.</h2>
            <h3>Multilingual. Multimodal. Multitasking.</h3>
            <a href="/app" class="button">Try it now</a>
        </div>
        <img src="../static/images/cover-xray.png" class="xray-image" id="xray-image">
    </div>

    <section id="about">
        <h3>About</h3>
        <p>Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu.</p>
    </section>

    <section id="whyhawaiian">
        <h3>Why Hawaiian Research?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat.</p>
    </section>

    <section id="howitworks">
        <h3>How it works</h3>
        <p>In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor.</p>
    </section>

    <footer>
        &#169; 2025 KumuComputer. All rights reserved.
    </footer>
</body>
<script>
// Update mouse position to make effect work.   
document.addEventListener("mousemove", (e) => {
    const xray = document.getElementById("xray-image");
    const rectangle = document.getElementById("xray-wrapper").getBoundingClientRect();

    // Calcualate the relative position of the cursor
    const x = ((e.clientX - rectangle.left) / rectangle.width) * 100;
    const y = ((e.clientY - rectangle.top) / rectangle.height) * 100;

    // Set the position of the xray
    xray.style.setProperty("--x", `${x}%`);
    xray.style.setProperty("--y", `${y}%`);
});
</script>
</html>
